h2 {
	font-size: 50px;
	display: block;
	color: purple;
}

button {
	
	display: inline-block
	
}

#sad {
	width: 200px;
	height: 100px;
	font-size: 80px;
	color: blue;
}

#bored {
	width: 250px;
	height: 100px;
	font-size: 80px;
	color:maroon;
}
#result {

	color: black;
	font-style: oblique;
	font-size: 35px
}