h2 {
	font-size: 50px;
	display: block;
	color: purple;
}


#sad {
	width: 200px;
	height: 100px;
	font-size: 60px;
	color: green;
}

#bored {
	width: 200px;
	height: 100px;
	font-size: 60px;
	color:black;
}
#result {

	color: black;
	font-style: oblique;
	font-size: 35px
}